body{
background: linear-gradient(95deg, #000 0%, #9C9B9B 98%);
}
.navbar-brand{
margin-left: 10px;
color: rgb(143, 142, 142);
}
.navbar-brand:focus{
vertical-align: middle;
color: white;;
}
.navbar-nav .nav-link.active{
margin-left: 10px;
}
.nav-link{
margin-left: 10px;
color: rgb(143, 142, 142);
}
.nav-link:focus{
vertical-align: middle;
color: white;
}
.navbar-toggler{
background-color: rgb(143, 142, 142);
}
.card{
box-shadow: 14px 19px 18px 3px #000;
background-color: black;
}
.card-body{
color: white;
opacity: .8;
}
.card a{
text-decoration: none;
color: white;
}
.carousel-inner {
margin-left: 40px;
box-shadow: 14px 19px 18px 3px #000;
}

.link{
animation: myAnim 3s ease 0s infinite normal forwards;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
.pad{
color: black;
}
.links{
text-decoration: none;
color: white;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}